.feedback {
  padding-top: 30px;
  padding-bottom: 40px;
  background: var(--c-gradient);
  .row {
    margin-left: -10px;
    margin-right: -10px;
    & > * {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .h1 {
    text-align: left;
    color: #fff;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 25px;
    font-size: 20px;
  }
  button {
    height: 65px;
    border: 1px solid #fff;
    border-radius: 50px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover {
      color: var(--c-blue);
      background-color: #fff;
    }
  }
}
