.form {
    &__input {
        &.error {
            border: 1px solid #f00;
            box-shadow: inset 0 0 1px 1px #f00;
            -webkit-box-shadow: inset 0 0 1px 1px #f00;
            -moz-box-shadow: inset 0 0 1px 1px #f00;
            -webkit-appearance: none;

            &:focus,
            &:active {
                border: 1px solid #f00;
                box-shadow: inset 0 0 1px 1px #f00;
                -webkit-box-shadow: inset 0 0 1px 1px #f00;
                -moz-box-shadow: inset 0 0 1px 1px #f00;
                -webkit-appearance: none;
            }
        }
    }
}

#name-error,
#phone-error,
#email-error {
    display: none !important;
}